.posts-tall__link {
    font-family: 'Roboto', Arial sans-serif;
    margin: 74px 24px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: black;
}

